<h2>Конвертер валют</h2>

<input type="number" [(ngModel)]="firstCurrency" (keyup)="firstValue()">
<select name="firstCurrency" #selectFirstCurrency (click)="firstCurrentCurrency(selectFirstCurrency.value)">    
    <option>Українська гривня</option>
    <option *ngFor="let element of this.data">{{element.txt}}</option>
</select>
<br>
<p>Курс: <span>{{this.firstRate/this.secondRate}}</span></p>
<br>
<br>
<input type="number" [(ngModel)]="secondCurrency" (keyup)="secondValue()">
<select name="secondCurrency" #selectSecondCurrency (click)="secondCurrentCurrency(selectSecondCurrency.value)">
    <option>Українська гривня</option>
    <option *ngFor="let element of this.data">{{element.txt}}</option>
</select>
<br>
<p>Курс: <span>{{this.secondRate/this.firstRate}}</span></p>
