<header>
    <h1>Курс валют</h1>
    <h4>актуальний на {{currentDate}}</h4>

    <div class="exchange-rate">
        <div class="exchange-rate__item"> <img width="20px" height="20px" src="./assets/images/united-states-of-america.png" alt="icon-USD"> {{USDText}}: {{USDRate}}</div>

        <div class="exchange-rate__item"> <img width="20px" height="20px" src="./assets/images/european-union.png" alt="icon-Europe"> {{EURText}}: {{EURRate}}</div>
    </div>
</header>
<app-converter [data]="this.dataArray"></app-converter>