header{
    padding: 20px 100px 0 100px;
    color: #FEC903;
    h1{
        font-size: 50px;
    }
    .exchange-rate{
        display: flex;
        .exchange-rate__item{
            min-width: 200px;
            display: flex;
            align-items: center;
            margin-right: 20px;
            padding: 20px 20px;            
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            font-size: 16px;
            background: transparent;
            color: #fff;
            border: 1px solid #FEC903;
            img{
                margin-right: 10px;
            }
        }
    }
    
}

@media (max-width: 840px) {
    header{
        padding: 20px 10px 0 10px;
        h1{
            font-size: 40px;
        }
        .exchange-rate{
            .exchange-rate__item{
                min-width: 200px;
                
            }
        }
        
    }
}